# --- Núcleo de la App ---
streamlit                   # La interfaz web
pandas>=2.0.0               # Manejo de datos (Versión 2.0+ es vital para integración con Arrow)
numpy                       # Cálculos numéricos base

# --- Motores de Datos (Arrow & Parquet) ---
pyarrow                     # La librería OFICIAL de Apache Arrow y motor para Parquet
fastparquet                 # (Opcional) Motor alternativo, pero pyarrow suele bastar.

# --- Manejo de Archivos Excel ---
openpyxl                    # Para leer archivos .xlsx
xlsxwriter                  # Para escribir archivos .xlsx (descargas)

# --- Procesamiento de Lenguaje Natural (NLP) ---
nltk                        # Para Stemming, Lemmatization y Tokenización

# --- Utilidades del Sistema ---
python-dotenv               # Para leer el archivo .env
watchdog                    # Para que Streamlit detecte cambios en archivos más rápido
lxml

# pip install -r requirements.txt
# .\venv\Scripts\activate
# streamlit run app.py --theme.base="light"